<footer class="footer wf-section">
  <div class="w-container">
    <div class="footer-menu">
      <div>
        <h5 class="footer-label">Digibiz</h5>
        <a href="/professional" class="footer-link">Digibiz Professional</a>
        <a href="/business" class="footer-link">Digibiz Business</a>
        <a href="/enterprise" class="footer-link">Digibiz
          Enterprise</a>
      </div>
      <div>
        <h5 class="footer-label">Explore</h5>
        <ul role="list" class="w-list-unstyled">
          <li class="list-item-4">
            <a href="/features/digital-business-cards" class="footer-link">Digital Business Cards</a>
            <a href="/features/share-digital-business-cards" class="footer-link">Sharing Business
              Card</a>
          </li>
        </ul>
      </div>
      <div class="footer-social-list">
        <ul role="list" class="list w-list-unstyled">
          <li class="list-item-2">
            <a href="https://www.linkedin.com/company/digibizcard" target="_blank" class="w-inline-block">
              <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e600a3b938b1312f6f17b94_linkedin.svg" alt="" class="image-41" />
            </a>
          </li>
          <li class="list-item-3">
            <a href="https://www.facebook.com/digibizcardlk/" target="_blank" class="w-inline-block">
              <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e600a28938b1305c7f17b85_fb.svg" alt="" class="image-42" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="div-block-20"></div>
  </div>
</footer>
