<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-background navbar-2 w-nav">
  <div class="navshadow"></div>
  <div class="container w-container">
    <a href="/" class="brand w-nav-brand"><img src="/images/logo.png" height="44" alt="" class="image" /></a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div data-delay="0" data-hover="false" class="navbar w-dropdown">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div class="icon w-icon-dropdown-toggle"></div>
          <div>Products &amp; Solutions</div>
        </div>
        <nav class="dropdown-list w-dropdown-list">
          <div class="drodown_custom">
            <div class="body-header---layout">
              <div id="w-node-_7a8bb683-72db-66fc-a8b6-4801ecd4e44e-99e1da1c" class="body-header-dev----header">
                <ul role="list" class="nav-site-list w-list-unstyled">
                  <li class="site-nav-list-item has-icon clear-top"></li>
                </ul>
              </div>
              <ul id="w-node-_7a8bb683-72db-66fc-a8b6-4801ecd4e459-99e1da1c" role="list" class="nav-site-list w-list-unstyled">
                <li class="site-nav-list-item clear-top">
                  <div class="nav-list-title small">Explore</div>
                </li>
                <li class="site-nav-list-item clear-top">
                  <a href="/features/digital-business-cards" aria-current="page" class="site-nav-list-item---link-2 light w-inline-block w--current">
                    <div class="link-label-wrapper">
                      <h5 class="nav--label--main light">
                        Digital Business Cards
                      </h5>
                    </div>
                  </a>
                </li>
                <li class="site-nav-list-item less-space">
                  <a href="/features/share-digital-business-cards" class="site-nav-list-item---link-2 light w-inline-block">
                    <div class="link-label-wrapper">
                      <h5 class="nav--label--main light">
                        Sharing Your Card
                      </h5>
                    </div>
                  </a>
                </li>
                <li class="site-nav-list-item less-space">
                  <a href="/features/self-healing-address-book" class="site-nav-list-item---link-2 light w-inline-block">
                    <div class="link-label-wrapper">
                      <h5 class="nav--label--main light">Address Book</h5>
                    </div>
                  </a>
                </li>
              </ul>
              <ul id="w-node-_7a8bb683-72db-66fc-a8b6-4801ecd4e480-99e1da1c" role="list" class="nav-site-list w-list-unstyled">
                <li class="site-nav-list-itembig">
                  <div class="nav-list-title small">
                    <strong class="bold-text-18">For Individuals</strong>
                  </div>
                </li>
                <li class="site-nav-list-item clear-top">
                  <a href="/professional" class="site-nav-list-item---link-2 light w-inline-block">
                    <div class="link-label-wrapper">
                      <h5 class="nav--label--main light">
                        Digibiz Professional
                      </h5>
                    </div>
                  </a>
                </li>
                <li class="site-nav-list-itembig2 clear-top">
                  <div class="nav-list-title small">
                    <strong class="bold-text-19">For Business</strong>
                  </div>
                </li>
                <li class="site-nav-list-item clear-top">
                  <a href="/business" class="site-nav-list-item---link-2 light w-inline-block">
                    <div class="link-label-wrapper">
                      <h5 class="nav--label--main light">
                        Digibiz Business
                      </h5>
                    </div>
                  </a>
                </li>
                <li class="site-nav-list-itembig2 clear-top">
                  <div class="nav-list-title small">
                    <strong class="bold-text-19">For ENTERPRISE</strong>
                  </div>
                </li>
                <li class="site-nav-list-item clear-top">
                  <a href="/enterprise" class="site-nav-list-item---link-2 light w-inline-block">
                    <div class="link-label-wrapper">
                      <h5 class="nav--label--main light">
                        Digibiz Enterprise
                      </h5>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <a href="/pricing" class="navbar w-nav-link">Pricing</a>
      <div class="dropdownbuttons innav">
        <a href="/login" data-event-data-location="mobile" data-event-name="click log in button" class="button login border dropdownn amplitude-track w-nav-link">Log In</a>
        <a href="/pricing" data-event-data-location="mobile" data-event-name="click create a card button" data-w-id="9fa0c748-0cf5-4728-0c14-538db8890f7a" class="button login dropdownn amplitude-track w-nav-link">Create a Card</a>
      </div>
    </nav>
    <div class="dropdownbuttons">
      <a href="/login" data-event-data-location="navbar" data-event-name="click log in button" class="button login border amplitude-track w-nav-link">Log In</a><a href="/pricing" data-event-data-location="navbar" data-event-name="click create a card button" class="button login amplitude-track w-nav-link">Create a Card</a>
    </div>
    <div class="menu-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
