<%- include('partials/head') %>
<title>
  Digibiz Business and Team Solutions for Digital Business Cards
</title>
<%- include('partials/body') %>
<div class="div-block-5838 business">
  <div class="div-block-5839">
    <h1 class="big_heading_allsubs">
      <span class="text-span-22">Digibiz</span><br />Business<br />
    </h1>
    <p class="heading-5-0">
      Set up your entire team or organization with enterprise digital
      business cards.
    </p>
    <a style="margin: 0 auto;" href="/contactform" class="button-custom_pro w-button">CONTACT SALES</a>
  </div>
  <img src="/images/image23.png" alt="Set up your entire team or business with enterprise digital business cards from Digibiz." sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 586.796875px, (max-width: 1279px) 460.59375px, 506px" class="hero-media2" />
</div>
<div class="purple-3-features">
  <div class="div-block-55">
    <div id="w-node-a21d68fa-18a0-fe18-6cb2-c4d695b77325-257e5105" class="feature-block">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb4571ff5a3a7dcec219127_noun_business%20card_2512065.svg" alt="Line drawing of a digital business card." class="image-medium-icons-copy" />
      <h1 class="heading-4-0-copy-copy">
        Set up your team with digital business cards<br />
      </h1>
    </div>
    <div id="w-node-_29d98f9d-35f0-63bb-c319-a2b7d376427f-257e5105" class="feature-block">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5f5a288445ee8c863b89d6a6_Icon2.svg" alt="Line drawing of a star" class="image-medium-icons-copy" />
      <h1 class="heading-4-0-copy-copy">
        Build and boost brand awareness<br />
      </h1>
    </div>
    <div id="w-node-_29d98f9d-35f0-63bb-c319-a2b7d3764285-257e5105" class="feature-block">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5f5a2867ce7af84524a11add_Icon1.svg" alt="Line drawing of a business network." class="image-medium-icons-copy" />
      <h1 class="heading-4-0-copy-copy">
        Collect all your business relationships in one place<br />
      </h1>
    </div>
    <div id="w-node-_29d98f9d-35f0-63bb-c319-a2b7d376428c-257e5105" class="feature-block">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5f5a28841ce8d56a4ccaf981_Icon3.svg" alt="Line drawing of digital business card analytics" class="image-medium-icons-copy" />
      <h1 class="heading-4-0-copy-copy">
        Track and analyze business engagement<br />
      </h1>
    </div>
  </div>
</div>
<section id="feature-section" class="feature-section wf-section">
  <div class="flex-container w-container">
    <div class="feature-text">
      <h2 style="text-align: center;" class="heading-2-0">
        <strong class="bold-text-10">Digital Business Cards<br /></strong>
      </h2>
      <p class="heading-5-0">
        Digibiz Business is the leading solution for digital business
        cards. We offer professional and customizable digital cards,
        suitable for teams and organizations of any size.<br />‍<br /><a href="/features/digital-business-cards">Learn more about digital business cards
          → </a><br />
      </p>
    </div>
    <div class="feature-image-mask">
      <img src="/images/image24.png" alt="Examples of digital business cards for individuals, teams, and companies." class="feature-image-3" />
    </div>
  </div>
</section>
<section id="feature-section" class="grrey-3-features wf-section">
  <div class="container-11">
    <div class="title-wrap-centre">
      <h1 class="heading">
        <strong class="bold-text-10">Why digital business cards?</strong>
      </h1>
    </div>
    <div data-duration-in="300" data-duration-out="600" data-current="Tab 2" data-easing="ease" class="w-tabs">
      <div class="tabs-menu-2 w-tab-menu">
        <a data-w-tab="Tab 1" class="standard-tab w-inline-block w-tab-link"><img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5f515d236e4b1b75c1194263_1.svg" alt="" class="tab-image" />
          <div class="text-block-6">Go contactless</div>
          <div class="load-bar-base">
            <div class="load-bar"></div>
          </div>
        </a><a data-w-tab="Tab 2" class="standard-tab w-inline-block w-tab-link w--current"><img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5f5a8b1011f5b5268c36a2de_2.svg" alt="" class="tab-image" />
          <div>Cut costs</div>
          <div class="load-bar-base">
            <div class="load-bar"></div>
          </div>
        </a><a data-w-tab="Tab 3" class="standard-tab w-inline-block w-tab-link"><img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5f5a8b180c682f0c5bd90a8f_3.svg" alt="" class="tab-image" />
          <div>Reduce your carbon footprint</div>
          <div class="load-bar-base">
            <div class="load-bar"></div>
          </div>
        </a>
      </div>
      <div class="tabs-content w-tab-content">
        <div data-w-tab="Tab 1" class="w-tab-pane">
          <div class="tab-panel">
            <div class="w-layout-grid tab-grid">
              <div id="w-node-d9a96c1b-0924-ba54-38fe-73ab8361362f-257e5105" class="animation-block">
                <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/605538b95e94b14274697cfe_Slide1-p-800.png" alt="Contactless digital business cards" sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, 454.96875px" class="feature-image-4" />
              </div>
              <div id="w-node-d9a96c1b-0924-ba54-38fe-73ab83613631-257e5105" class="content-block">
                <h1 class="tab-h1">Go contactless</h1>
                <p class="heading-5-0">
                  Paper business cards don’t have a place in a
                  post-COVID19 world. Digital cards are germ-free,
                  contactless, and can be easily shared with anyone,
                  anywhere—no physical contact required.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
          <div class="tab-panel">
            <div class="w-layout-grid tab-grid">
              <div id="w-node-d9a96c1b-0924-ba54-38fe-73ab8361363f-257e5105" class="animation-block">
                <img src="/images/image25.png" alt="An example of a title change on a digital business card." class="feature-image-4-copy" />
              </div>
              <div id="w-node-d9a96c1b-0924-ba54-38fe-73ab83613641-257e5105" class="content-block">
                <h1 class="tab-h1">Cut costs</h1>
                <p class="heading-5-copy">
                  Cut your business card budget by switching to digital.
                  Anytime an employee gets promoted or changes teams, no
                  need to order new business cards. Digibiz for Business
                  gives you real-time control over your team’s cards, and
                  they can be updated or customized at any time.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 3" class="w-tab-pane">
          <div class="tab-panel">
            <div class="w-layout-grid tab-grid">
              <div id="w-node-d9a96c1b-0924-ba54-38fe-73ab8361364d-257e5105" class="animation-block">
                <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/605538e796329bd5c3718faf_Slide3-p-800.png" alt="Save the trees and planet by reducing your carbon footprint with digital business cards" sizes="(max-width: 479px) 92vw, 356.734375px" class="feature-image-5-copy" />
              </div>
              <div id="w-node-d9a96c1b-0924-ba54-38fe-73ab8361364f-257e5105" class="content-block">
                <h1 class="tab-h1">Reduce your carbon footprint</h1>
                <p class="heading-5-0">
                  Over seven million trees are cut down each year to
                  produce paper business cards. (And roughly 90% of
                  business cards are thrown away immediately!) By going
                  digital, your company is doing its part in reducing its
                  carbon footprint.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-10 w-container">
  <h2 class="bold-text-10 businessheading">
    Top-Rated Business Card Solution<br />
  </h2>
</div>
<section id="feature-section" class="feature-section wf-section">
  <div class="flex-container w-container">
    <div class="feature-text">
      <div>
        <h2 style="text-align: center;" class="heading-2-0">
          <strong class="bold-text-13">Professional Business Cards<br /></strong>
        </h2>
      </div>
      <div class="div-block-56">
        <div class="div-block-57">
          <div class="div-block-58">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb6fbdf2bc2fe2968f85e1b_Ellipse%20182.svg" loading="lazy" alt="" />
            <p class="heading-5-0-list">A name<br /></p>
          </div>
          <div class="div-block-58">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb6fbdf2bc2fe2968f85e1b_Ellipse%20182.svg" loading="lazy" alt="" />
            <p class="heading-5-0-list">Accreditations<br /></p>
          </div>
          <div class="div-block-58">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb6fbdf2bc2fe2968f85e1b_Ellipse%20182.svg" loading="lazy" alt="" />
            <p class="heading-5-0-list">Headline<br /></p>
          </div>
          <div class="div-block-58">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb6fbdf2bc2fe2968f85e1b_Ellipse%20182.svg" loading="lazy" alt="" />
            <p class="heading-5-0-list">Title<br /></p>
          </div>
          <div class="div-block-58">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb6fbdf2bc2fe2968f85e1b_Ellipse%20182.svg" loading="lazy" alt="" />
            <p class="heading-5-0-list">Company<br /></p>
          </div>
          <div class="div-block-58">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb6fbdf2bc2fe2968f85e1b_Ellipse%20182.svg" loading="lazy" alt="" />
            <p class="heading-5-0-list">Image<br /></p>
          </div>
        </div>
        <div class="div-block-57">
          <div class="div-block-58">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb6fbdf2bc2fe2968f85e1b_Ellipse%20182.svg" loading="lazy" alt="" />
            <p class="heading-5-0-list">Contact information<br /></p>
          </div>
          <div class="div-block-58">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb6fbdf2bc2fe2968f85e1b_Ellipse%20182.svg" loading="lazy" alt="" />
            <p class="heading-5-0-list">Websites<br /></p>
          </div>
          <div class="div-block-58">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb6fbdf2bc2fe2968f85e1b_Ellipse%20182.svg" loading="lazy" alt="" />
            <p class="heading-5-0-list">Social media<br /></p>
          </div>
          <div class="div-block-58-copy">
            <p class="feature_txt">... And more!<br /></p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-image-mask-copy">
      <img src="/images/image7.png" alt="Three examples of professional virtual business cards for C-Suite, executives, and realtors." class="feature-image-green2" />
    </div>
  </div>
</section>
<section id="feature-section" class="feature-section wf-section">
  <div class="flex-container w-container">
    <div class="feature-image-mask">
      <img src="/images/image26.png" alt="Send your digital business card via text message." class="feature-image3" />
    </div>
    <div class="feature-text">
      <h2 style="text-align: center;" class="heading-3-0">
        <strong>Simple Card Sharing<br /></strong>
      </h2>
      <p class="heading-5-0">
        Digibiz works across all devices, and your team&#x27;s digital
        business cards can be sent and shared with anyone. Cards can be shared via:
        <span class="text-span-30">QR code, Email, Text</span><br />
      </p>
      <div class="div-block-59">
        <div class="div-block-58-copy2">
          <p class="feature_txt">QR Code<br /></p>
        </div>
        <div class="div-block-58-copy2">
          <p class="feature_txt">Email<br /></p>
        </div>
        <div class="div-block-58-copy2">
          <p class="feature_txt">Text<br /></p>
        </div>
      </div>
      <p class="heading-5-0-cardsharing">
        Digibiz QR codes can be downloaded and included on any marketing
        and promotional materials and they will always link back to your
        card, as long as it remains active.<br />
      </p>
    </div>
  </div>
</section>
<section id="feature-section" class="feature-section wf-section">
  <div class="flex-container-copy w-container">
    <div class="feature-image-mask">
      <img src="/images/image27.png" alt="Digibiz for Business onboarding. Send you employees an email where they can claim their new company digital business card." sizes="(max-width: 479px) 92vw, (max-width: 767px) 83vw, (max-width: 991px) 400px, 467.53125px" class="feature-image-alt" />
    </div>
    <div class="feature-text-copy-copy">
      <h2 class="heading-3-0">
        <strong>Easy Account Setup<br /></strong>
      </h2>
      <p class="heading-5-0-88">
        After signing up for Digibiz Business, you can begin creating
        personalized business cards for each member of your team.
        For large enterprise companies, we offer a streamlined onboarding
        service at an additional cost.<br />
      </p>
      <div class="div-block-60">
        <div class="div-block-583">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb7085f890d7e83b5a8f7e4_Group%204896.svg" loading="lazy" alt="" class="image-21" />
          <p class="heading-5-0-list">
            Create a business card for each team member in the Digibiz web
            app.<br />
          </p>
        </div>
        <div class="div-block-583">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb708969416470ee23f591d_Group%204897.svg" loading="lazy" alt="" class="image-21" />
          <p class="heading-5-0-list">
            Once claimed, each team member will be redirected to the web platform.<br />
          </p>
        </div>
        <div class="div-block-583">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb708a85ffd892d38620888_Group%204898.svg" loading="lazy" alt="" class="image-21" />
          <p class="heading-5-0-list">
            Email the business cards to your team for them to claim.<br />
          </p>
        </div>
        <div class="div-block-583">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fb708bd3d01e5af53989a76_Group%204899.svg" loading="lazy" alt="" class="image-21" />
          <p class="heading-5-0-list">
            Once redirected, they create an account and can begin sharing
            their digital business card!<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="feature-section" class="feature-section-feature wf-section">
  <div class="container-12">
    <div class="benefit-block-3">
      <h2 class="heading-13">Features<br /></h2>
      <div class="benefit-block-3-copy"></div>
    </div>
    <div class="w-container">
      <div class="div-block-51">
        <div class="div-block-50">
          <div id="w-node-_45f9efa9-5005-0508-7024-c7ccdf467933-257e5105">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fa1b7270b1467fbe12eb9c7_Group%20609.svg" loading="lazy" alt="" />
          </div>
          <div id="w-node-_2be69fbd-d80b-0478-82a6-0f65105a71b2-257e5105">
            <div class="text-block-11">
              Create unlimited digital business cards
            </div>
          </div>
        </div>
        <div class="div-block-50">
          <div id="w-node-_46414957-6281-c583-52ab-08400b828985-257e5105">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fa1b7996a8e95785e3c347c_Frame-5.svg" loading="lazy" alt="" />
          </div>
          <div id="w-node-_9bd83977-8916-0f4e-4978-617f7b85c4a1-257e5105">
            <div class="text-block-11">Customize cards</div>
          </div>
        </div>
        <div class="div-block-50">
          <div id="w-node-_3f23d948-6763-358c-fab4-39e1f19bfc90-257e5105">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fa1b78b776cd010745a14ed_Frame-6.svg" loading="lazy" alt="" />
          </div>
          <div id="w-node-_8f9f4f7c-3dab-7077-a583-345b56dc8c26-257e5105">
            <div class="text-block-11">Include images</div>
          </div>
        </div>
      </div>
      <div class="div-block-51">
        <div class="div-block-50">
          <div id="w-node-_9fa5f4d5-6b2e-2e96-8247-b74474eec116-257e5105">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fa1b799a4374a700d32d6d4_Frame-2.svg" loading="lazy" alt="" />
          </div>
          <div id="w-node-_9fa5f4d5-6b2e-2e96-8247-b74474eec118-257e5105">
            <div class="text-block-11">Add social media to cards</div>
          </div>
        </div>
        <div class="div-block-50">
          <div id="w-node-_9fa5f4d5-6b2e-2e96-8247-b74474eec11c-257e5105">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fa1b798a4374a59d832d6d3_Frame.svg" loading="lazy" alt="" />
          </div>
          <div id="w-node-_9fa5f4d5-6b2e-2e96-8247-b74474eec11e-257e5105">
            <div class="text-block-11">Custom card colors</div>
          </div>
        </div>
        <div class="div-block-50">
          <div id="w-node-_9fa5f4d5-6b2e-2e96-8247-b74474eec122-257e5105">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fa1b799089695170dfb43cb_Group.svg" loading="lazy" alt="" />
          </div>
          <div id="w-node-_9fa5f4d5-6b2e-2e96-8247-b74474eec124-257e5105">
            <div class="text-block-11">Custom QR code</div>
          </div>
        </div>
      </div>
      <div class="div-block-51">
        <!-- <div class="div-block-50">
            <div id="w-node-_38d6b03a-6083-42c4-9940-977902d8d472-257e5105">
              <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fa1b799fdf4d7a99f21e09f_Group%20610.svg" loading="lazy" alt="" />
            </div>
            <div id="w-node-_38d6b03a-6083-42c4-9940-977902d8d474-257e5105">
              <div class="text-block-11">
                Admin control over employee cards and contacts
              </div>
            </div>
          </div> -->
        <div class="div-block-50">
          <div id="w-node-_38d6b03a-6083-42c4-9940-977902d8d478-257e5105">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fa1b798dbe1abca31a5b834_Group%20605.svg" loading="lazy" alt="" />
          </div>
          <div id="w-node-_38d6b03a-6083-42c4-9940-977902d8d47a-257e5105">
            <div class="text-block-11">Unlimited card sharing</div>
          </div>
        </div>
        <div class="div-block-50">
          <div id="w-node-_38d6b03a-6083-42c4-9940-977902d8d47e-257e5105">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fa1b799c33ded297651d733_Frame%2019.svg" loading="lazy" alt="" />
          </div>
          <div id="w-node-_38d6b03a-6083-42c4-9940-977902d8d480-257e5105">
            <div class="text-block-11">Unlimited contacts</div>
          </div>
        </div>
      </div>
      <div class="div-block-51">
        <div class="div-block-50">
          <div id="w-node-_8e0698ff-38f1-b67d-129a-0ba448e1ba15-257e5105">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5fa1b7995891f05dbee90353_Frame-3.svg" loading="lazy" alt="" />
          </div>
          <div id="w-node-_8e0698ff-38f1-b67d-129a-0ba448e1ba17-257e5105">
            <div class="text-block-11">Contact search and filters</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer')%>
<%- include('partials/bodyclose') %>
