<%- include('partials/head') %>
<title>Digibiz - Digital Business Card Platform for Enterprises</title>
<%- include('partials/body') %>
<section class="hero-section wf-section">
  <div class="container-28 w-container">
    <div class="div-block-5851">
      <p class="paragraph-19">PUT YOUR BEST BRAND FORWARD</p>
      <h1 class="header">
        <span class="text-span-34">Digibiz</span> Enterprise
      </h1>
      <p class="paragraph-11">
        Digibiz is the leading digital business card and branding platform
        for enterprise organizations.
      </p>
      <a href="/contactform" data-event-data-location="hero" data-event-name="click enterprise contact sales cta" class="gradient-button amplitude-track w-button">Contact Sales</a>
    </div>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/624f4d8c673dec454fd0b6d7_Enterprise%20Hero%20Image.png" alt="Digibiz Enterprise business card dashboard" sizes="(max-width: 479px) 319.984375px, (max-width: 767px) 500px, (max-width: 991px) 380px, (max-width: 1279px) 500px, 609px" class="image-44 enter" />
  </div>
</section>
<div class="section-13 wf-section">
  <div class="subheading w-container">
    <div class="label">Why Digibiz</div>
    <h2 class="heading2 whyhihello">
      The most trusted and secure business card platform.
    </h2>
    <p class="subpara">
      Create, manage, and distribute digital business cards to your entire
      organization. Digibiz Enterprise will elevate your corporate brand
      identity with dynamic features and powerful integrations.
    </p>
  </div>
  <div class="_4-column w-container">
    <div class="w-layout-grid _3column">
      <div id="w-node-_5282918e-d94e-d1fd-a0a8-ac4778f861ac-18161f2a" class="columnsquare">
        <div class="square">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6254540e86ba822aef051dff_bxs_business.svg" loading="lazy" alt="" class="image-60" />
        </div>
        <h3 class="heading3">Simplify business cards</h3>
        <p class="paragraph-20">
          Efficiently make and provision business cards.
        </p>
      </div>
      <div id="w-node-e3ff8e10-894d-2248-8cd3-a4e6effcba90-18161f2a" class="columnsquare">
        <div class="square _2">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6254540e2f4bb1ae0de71549_ic_outline-update.svg" loading="lazy" alt="" class="image-60" />
        </div>
        <h3 class="heading3">Make real-time updates</h3>
        <p class="paragraph-20">
          Edit employee information for instant use.
        </p>
      </div>
      <div id="w-node-_01c9a821-3933-9c3e-498d-d00e23d0f2db-18161f2a" class="columnsquare">
        <div class="square _4">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/625457d19f95815bbfa7339a_eos-icons_secure-data-outlined.svg" loading="lazy" alt="" class="image-60" />
        </div>
        <h3 class="heading3 secure">Secure at scale</h3>
        <p class="paragraph-20">
          Know your contacts and data are secure.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section-13 wf-section">
  <div class="subheading w-container">
    <div class="label">Platform</div>
    <h2 class="heading2 whyhihello">
      Create dynamic digital business cards.
    </h2>
  </div>
  <div class="container-30 w-container">
    <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
      <div class="tabs-menu-4 w-tab-menu">
        <a data-w-tab="Tab 1" class="tab-link-tab-1 w-inline-block w-tab-link w--current">
          <div class="text-block-25">Sharing</div>
        </a><a data-w-tab="Tab 2" class="tab-link-tab-2 w-inline-block w-tab-link">
          <div class="text-block-26">Identity</div>
        </a>
      </div>
      <div class="tabs-content-2 w-tab-content">
        <div data-w-tab="Tab 1" class="tab-pane-tab-1 w-tab-pane w--tab-active">
          <div class="tabcontent">
            <div class="div-block-5887">
              <h4 class="labelcolor">sHARING</h4>
              <h2 class="heading2-bold">
                Share cards with anyone, anywhere.
              </h2>
              <p class="text inner">
                Anyone can receive a Digibiz card. All contacts are stored in a secure corporate
                address book.
              </p>
            </div>
            <div class="imageblock">
              <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/625469bdde143d2366489c22_Sharing%20Graphic.png" loading="lazy" alt="Share digital business card with widgets, iMiessage, Apple Watch, and NFC business card" class="image-61" />
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 2" class="tab-pane-tab-2 w-tab-pane">
          <div class="tabcontent identity">
            <div class="div-block-5887">
              <h4 class="labelcolor _2">Identity</h4>
              <h2 class="heading2-bold">
                Take your brand into every interaction.
              </h2>
              <p class="text inner">
                Whether you’re communicating in person, through video, or
                by email, your organization will maintain a consistent
                brand identity.
              </p>
            </div>
            <div class="imageblock identityblock">
              <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62546c9aa3c9d0060eae0b63_Identity%20Graphic.png" loading="lazy" sizes="(max-width: 479px) 300px, 340px" alt="Digibiz Enterprise QR code, virtual background for Zoom, branded email signature" class="image-61 identitygraphic" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-13 wf-section">
  <div class="subheading w-container">
    <div class="label">SECURITY</div>
    <h2 class="heading2 whyhihello">
      Trust your data is <a href="/security" target="_blank">secure.</a>
    </h2>
    <p class="subpara">
      Digibiz Enterprise is <strong>SOC 2 Type II compliant</strong>,
      GDPR-ready, and has privacy and security programs to help protect
      your organization’s data.
    </p>
  </div>
  <div class="w-container">
    <div class="w-layout-grid securitygrid">
      <div id="w-node-ebe327f0-af3e-1928-9276-1f542d88988a-18161f2a" class="bigsquare">
        <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6254a28322fefb709278689e_image%2074.png" loading="lazy" alt="AICPA SOC Digibiz" class="image-62" />
      </div>
      <div id="w-node-d9239221-592e-ee66-b807-9153cad4251c-18161f2a" class="bigsquare right">
        <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6254a31aa07f2c7f41592664_image%2077.png" loading="lazy" alt="Digibiz Soc 2 logo" class="image-62" />
      </div>
      <div id="w-node-_0665e246-d9d1-0426-36be-7386b7ef5084-18161f2a" class="smallrectangle">
        <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6254a7c35dbb17be9b1828a4_Frame%2058544.png" loading="lazy" alt="" class="image-63" />
      </div>
      <div id="w-node-b93ce8b6-7a1d-fc78-692d-deef363e9a6a-18161f2a" class="smallrectangle right">
        <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6254a8c90b6e780de43f60a5_image%2073.png" loading="lazy" alt="" class="image-64" />
      </div>
    </div>
  </div>
</div>
<div class="section-14 wf-section">
  <div class="container-31 w-container">
    <div class="ctablock">
      <div class="content">
        <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62559b1afa618cb1dfe40feb_CTA%20Graphic.png" loading="lazy" alt="Digibiz Enterprise digital business cards" class="image-66" />
        <div class="div-block-5889">
          <h2 class="heading-51">Ready to transform your brand?</h2>
          <a href="/contactform" data-event-data-location="cta block" data-event-name="click enterprise contact sales cta" class="button-26 amplitude-track w-button">Contact Sales</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-15 wf-section">
  <div class="subheading w-container">
    <div class="label">ENVIRONMENT, SOCIAL, AND GOVERNANCE</div>
    <h2 class="heading2 whyhihello">
      Promote eco-friendly business practices.
    </h2>
  </div>
  <div class="container-33 w-container">
    <div class="w-layout-grid _3-coulmn">
      <div id="w-node-_7b55dcba-a2d7-09de-e0ae-9027537a8fe3-18161f2a" class="columnsquare">
        <div class="square big">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6255a45f4b6f726f559b2914_ic_baseline-eco.svg" loading="lazy" alt="" class="image-67" />
        </div>
        <h3 class="heading3 inner">
          Engage in corporate social responsibility
        </h3>
        <p class="paragraph-20">
          Go paperless by switching to digital business cards.
        </p>
      </div>
      <div id="w-node-afc69c35-14ce-6a03-95d7-4fccf6aef932-18161f2a" class="columnsquare">
        <div class="square big _2">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6255a4c654065dfa4450c5fc_bi_tree-fill.svg" loading="lazy" alt="" class="image-68" />
        </div>
        <h3 class="heading3">
          Protect the environment from deforestation
        </h3>
        <p class="paragraph-20">
          Six million trees are cut down every year because of paper
          business cards.
        </p>
      </div>
      <div id="w-node-c69c4b9a-fd59-0ddc-c381-787dac324223-18161f2a" class="columnsquare">
        <div class="square big _3">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6255a55cb635fb78f30312a8_carbon_carbon-accounting.svg" loading="lazy" alt="" class="image-68" />
        </div>
        <h3 class="heading3">
          Decrease your organization’s carbon footprint
        </h3>
        <p class="paragraph-20">
          Nearly 90% of paper business cards are thrown away within one
          week of receiving them.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section-16 wf-section">
  <div class="subheading w-container">
    <div class="label">support</div>
    <h2 class="heading2 whyhihello">Your happiness is what drive us.</h2>
    <p class="subpara scalabilitypara">
      Our team strives to ensure a delightful experience with
      best-in-class customer support.
    </p>
  </div>
  <div class="container-34 w-container">
    <div class="w-layout-grid grid-6">
      <div id="w-node-_0c042051-0307-80d5-35aa-b654e110b863-18161f2a" class="div-block-5891">
        <div class="div-block-5890 _1">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6255b609cc2fe23853f6f603_Manager.svg" loading="lazy" alt="" class="image-69" />
        </div>
        <h3 class="heading-52">Dedicated account manager</h3>
      </div>
      <div id="w-node-_8065fa8a-927f-2aee-c0fb-81aa8d045e5f-18161f2a" class="div-block-5891">
        <div class="div-block-5890">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6255b1daf839431f0677d0ba_Vector.svg" loading="lazy" alt="" class="image-69" />
        </div>
        <h3 class="heading-52">Enterprise onboarding assistance</h3>
      </div>
      <div id="w-node-_0e4a1653-572c-677d-1d2e-60d1a34f9994-18161f2a" class="div-block-5891">
        <div class="div-block-5890 _3">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6255b6b1cefe40fb9f881c10_zoom.svg" loading="lazy" alt="" class="image-69 _2" />
        </div>
        <h3 class="heading-52">Priority email support</h3>
      </div>
    </div>
  </div>
</div>
<div class="section-20 wf-section"></div>
<div id="salesform" class="section-17 wf-section">
  <div class="subheading w-container">
    <div class="label">get started</div>
    <h2 class="heading2 whyhihello">
      Grow your customer base with Digibiz Enterprise.
    </h2>
  </div>
</div>

<%- include('partials/footer') %>
<%- include('partials/bodyclose') %>
