<%- include('partials/head') %>
<title>Digital Business Cards | Digibiz</title>
<%- include('partials/body') %>
<div class="floating-button w-container"><a data-event-data-location="mobile floating cta" data-event-name="click create a card button" href="/pricing" class="button-27 amplitude-track w-button">Create a Card</a>
</div>
<section class="hero_image dbc wf-section">
  <div class="flex-container home w-container">
    <div class="div-block-5851">
      <h1 style="text-align: center;" class="big_heading_home">The Best Digital Business Card</h1>
      <p style="text-align: center;" class="heading-5-0">Digibiz is a free digital business card and contact manager app designed to help you grow your network.</p>
    </div>
    <img src="/images/image0.png" class="hero-media homepage">
  </div>
</section>
<div class="purple-3-features-home">
  <a href="#digital-cards" class="w-inline-block">
    <div class="feature-block-2">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6329e611894f587a4c9bdf11_Cards.svg" alt="" class="image-medium-icons">
      <h1 class="heading-4-0">
        <strong class="heading-4-0-centered-blue home">Easily create digital business cards</strong><br>
      </h1>
    </div>
  </a><a href="#share-cards" class="w-inline-block">
    <div class="feature-block-2">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6329e60b5c98774578287bc6_Live.svg" alt="" class="image-medium-icons">
      <h1 class="heading-4-0">
        <strong class="heading-4-0-centered-blue home">Share your cards with anyone</strong><br>
      </h1>
    </div>
  </a><a href="#manage-contacts" class="w-inline-block">
    <div class="feature-block-2">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6329e601d6111482bf2e94c4_Groups.svg" alt="" class="image-medium-icons">
      <h1 class="heading-4-0">
        <strong class="heading-4-0-centered-blue home">Manage your contacts seamlessly</strong><br>
      </h1>
    </div>
  </a><a href="#scan-cards" class="w-inline-block">
    <div class="feature-block-2">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6329e60a894f5855ef9bdf07_Scan.svg" alt="" class="image-medium-icons">
      <h1 class="heading-4-0">
        <strong class="heading-4-0-centered-blue home">Turn paper cards into digital contacts</strong><br>
      </h1>
    </div>
  </a>
</div>
<section style="margin-bottom: 0;" id="digital-cards" class="feature-section wf-section">
  <div class="flex-container w-container">
    <div class="feature-image-mask">
      <img src="/images/image1.png" alt="Three Digibiz custom digital business cards." sizes="(max-width: 479px) 100vw, 400px" srcset="/images/image1.png" loading="lazy" class="feature-image updated">
    </div>
    <div class="feature-text">
      <h2 style="text-align: center;">
        <strong>Network smarter with free digital business cards.</strong>
      </h2>
      <p class="heading-5-0">
        Stand out from the crowd with digital business cards. Not only
        are digital cards better for the environment, they’re also
        better for your wallet and will help you make a great first
        impression.&nbsp;<br>‍<br><a href="/features/digital-business-cards">Learn more about our digital
          business
          cards →</a>
      </p>
    </div>
  </div>
</section>
<section style="margin-top: 0; padding-top: 0;" id="share-cards" class="feature-section wf-section">
  <div class="flex-container w-container">
    <div class="feature-text">
      <h2 style="text-align: center;">
        <strong>Easily share and receive information.<br></strong>
      </h2>
      <p class="heading-5-0">
        Share your virtual business card using a QR code or send it
        through email, text, social media, and more. Anyone can receive
        your digital card, even if they don't have the app.<br>‍<br><a href="/features/share-digital-business-cards">Learn more about sharing your cards →</a>
      </p>
    </div>
    <div class="feature-image-mask">
      <img src="/images/image2.png" alt="Examples of a HiHello digital business card, a QR code, and a follow-up email for when you share your virtual card." sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 400px, 450px" srcset="/images/image2.png" class="feature-image">
    </div>
  </div>
</section>
<section id="manage-contacts" class="feature-section-color wf-section">
  <div class="flex-container w-container">
    <div class="feature-image-mask">
      <img src="/images/image3.png" alt="The HiHello mobile app address book and contact manager." sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 400px, 450px" srcset="/images/image3.png" class="feature-image">
    </div>
    <div class="feature-text">
      <h2 style="text-align: center;">
        <strong>A better way to view your contacts.<br></strong>
      </h2>
      <p class="heading-5-0">
        Your Self-Healing Address Book™ will update itself with your
        contacts’ latest information, making contact management
        effortless. Customize your address book by adding notes and tags
        to your contacts, and easily organize your contacts into
        groups.<br>‍<br><a href="/features/self-healing-address-book">Learn more about our Self-Healing
          Address Book →</a>
      </p>
    </div>
  </div>
</section>
<section id="scan-cards" class="feature-section wf-section">
  <div class="flex-container w-container">
    <div class="feature-text">
      <h2 style="text-align: center;">
        <strong class="bold-text-8">Turn paper cards into digital contacts.<br></strong>
      </h2>
      <p class="heading-5-0">
        We know there are people who love physical business cards. If
        someone hands you a physical card, use our human-verified
        business card scanner to easily digitize your new contact’s
        information.&nbsp;<br><br><a href="/features/business-card-scanner">Learn more about our business card
          scanner →</a>
      </p>
    </div>
    <div class="feature-image-mask">
      <img src="/images/image4.png" alt="A paper business card getting scanned, human-verified, and becoming a digital contact with the HiHello business card scanner app.." sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 400px, 450px" srcset="/images/image4.png" class="feature-image">
    </div>
  </div>
</section>
<section id="feature-section" class="feature-section-shadow-copy wf-section">
  <div class="flex-container w-container">
    <div class="feature-image-mask">
      <img src="/images/image7.png" alt="HiHello for Business is an enterprise digital business card solution." class="feature-image-green">
    </div>
    <div class="feature-text">
      <h2 style="text-align: center;">
        <strong class="heading-2-0">Virtual cards for the entire team.<br></strong>
      </h2>
      <p class="heading-5-0">
        Set up your entire team with branded digital business cards. More
        affordable and eco-friendly than paper business cards, HiHello
        Business gives you all the benefits of our free plan, with premium
        features like corporate branding, custom URLs, administrative
        control, and more.<br>‍<br><a href="/business" target="_blank">Learn more about Digibiz Business
          →&nbsp;</a><br>
      </p>
    </div>
  </div>
</section>
<%- include('partials/footer') %>
<%- include('partials/bodyclose') %>
