<%- include('partials/head') %>
<title>Pricing for Digibiz Digital Business Card Subscription</title>
<%- include('partials/body') %>
<div class="div-block-5893 centered">
  <div class="section-12 centered wf-section"></div>
  <div class="section-12 centered mobile wf-section"></div>
</div>
<div class="outer-wrapper contactsyncing-basic">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Contact syncing and management</h2>
    <p class="paragraph-24">
      Import your Google Contacts to your Digibiz’s address book.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6279a57f8fc34b608313c7e1_contacts%20ui%201.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper contactsyncing-advanced">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Contact syncing and management</h2>
    <p class="paragraph-24">
      Add notes and tags to your contacts and utilize customer-relationship
      management (CRM) integrations with Google Contacts, Outlook/Exchange,
      and Zapier.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/627aa57f1fd8571db5e127e2_Frame%2058568.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper contactsyncing-advanced-business">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Contact syncing and management</h2>
    <p class="paragraph-24">
      Collect your team’s contacts in a centralized corporate address book
      and access native CRM integrations with Salesforce and HubSpot.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631784531fc4820c0bd55997_Frame%2058578.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper indentitytoolkit">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Cross-channel branding toolkit</h2>
    <p class="paragraph-24">
      Create virtual backgrounds and professional email signatures that link
      back to your digital business card.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631f62a8f0c40134afdf8bb9_Frame%2058571223.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper indentitytoolkit-copy bus">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Cross-channel branding toolkit</h2>
    <p class="paragraph-24">Create custom corporate virtual backgrounds.</p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6317875e5a32844b2ce3fa64_Frame%2058580.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper mediarich">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Branded media-rich cards</h2>
    <p class="paragraph-24">
      Include profile video and feature a YouTube or Vimeo video on your
      card. Brand your QR code with your logo and personalize your card’s
      link.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6317934e209d2d297700c024_Frame%2058583.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper mediarich adv">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Branded media-rich cards</h2>
    <p class="paragraph-24">Create branded card templates for your team.</p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631793f6cd8a765dd77f85f3_Frame%2058571222.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper sso">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">User management &amp; SSO</h2>
    <p class="paragraph-24">
      Support for Single Sign-On with Microsoft and Google.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/63179705659ecadede638842_Frame%2058585.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper sso adv">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">User management &amp; SSO</h2>
    <p class="paragraph-24">
      Quickly create, manage, and distribute cards to your team with our
      Azure and Google Active Directory integrations. Support for Okta
      Single Sign-On.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631798a2684f5dd9ddde10de_1231231.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper carddesigns">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Additional card designs</h2>
    <p class="paragraph-24">
      Customize your card with additional design options.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6282d68cece6c70024645366_Group%2058549.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper templates">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Card templates</h2>
    <p class="paragraph-24">
      Create a card template to make business cards for your team quickly.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6282d711ece6c7b11164543c_Frame%2058577.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper analytics">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Card analytics</h2>
    <p class="paragraph-24">
      Track your card’s analytics within Digibiz and access direct
      integrations with Google Analytics and Google Tag Manager.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6282d6c11556c8120584b9b9_Frame%2058584.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper ad">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Active Directory integration</h2>
    <p class="paragraph-24">
      Integrate Digibiz with your Active Directory for a seamless
      experience.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631798a2684f5dd9ddde10de_1231231.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper unlimited">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Unlimited card sharing</h2>
    <p class="paragraph-24">
      Share your card with everyone, even if they don’t have the Digibiz
      app.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6279a0e2698e7ca4c1ec3435_Sharing%20Graphic%20(2).png" loading="lazy" alt="" class="image-73 tall" />
  </div>
</div>
<div class="outer-wrapper salesforce">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Salesforce and Hubspot integration</h2>
    <p class="paragraph-24">
      Export your Digibiza contacts to Salesforce and Hubspot.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/627ad16c550e16aacb1d10c1_Frame%2058579.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper google-sync">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Sync with Google and Outlook</h2>
    <p class="paragraph-24">
      Sync Digibiz with Google and Outlook/Exchange Contacts to access your
      connections across both platforms. Sync will occur 4x/day.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6282d6dfdebf4ded10e13cd0_Frame%2058586.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper zapier">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Zapier integration</h2>
    <p class="paragraph-24">
      Use Digibiz’s Zapier integration to sync your contacts with your CRM
      and workflows.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/627aa6f8fb5708d70ce5f95e_Frame%2058570.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper soc2">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">SOC 2 Report</h2>
    <p class="paragraph-24">Gain access to Digibiz’s Soc2 report.</p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/627ad2ba88ba230e2131bc78_Frame%2058583.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper support-priority">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Customer support</h2>
    <p class="paragraph-24">Email and Zoom business-level support.</p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631a2c7d0a214c3f248a6469_234423.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="outer-wrapper support-ent">
  <div class="modal-outside-trigger"></div>
  <div class="inner-wrapper">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/62683203b71483ee2680d233_Close%20Button.svg" loading="lazy" alt="" class="close-button" />
    <h2 class="inner-header">Customer support</h2>
    <p class="paragraph-24">
      Work with a dedicated account manager throughout the entirety of your
      contract, starting at onboarding. Priority email and Zoom support.
    </p>
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631a2cdda48871b84c4a157f_123412.png" loading="lazy" sizes="100vw" alt="" class="image-73" />
  </div>
</div>
<div class="page-wrapper">
  <div class="animationplaceholder"></div>
  <div class="hero-pricing wf-section">
    <h1 class="heading-53">
      Pricing <span class="text-span-31">plans for everyone</span>
    </h1>
    <div class="text-block-29">
      Choose the package that is right for you or your organization.
    </div>
    <div class="pricing-container annually w-container">
      <div class="billing-div">
        <div class="text-block-36">BENEFITS</div>
      </div>
      <div style="display: block; opacity: 1" class="column-div-long">
        <div class="column-pricing free">
          <div>
            <div class="text-block-31">Free</div>
          </div>
          <div class="pricing-label">Free, 2 Months</div>
          <div class="user-count">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e696db38b22090c80acbc_heroicons-solid_users.svg" loading="lazy" alt="" class="usericon" />
            <div class="usercount-text">1 user</div>
          </div>
          <a data-event-data-billing="annually" data-event-name="click pricing page sign up button" data-event-data-plan="free" data-event-data-location="top" href="/signup" class="pricing-button amplitude-track w-button">Sign Up</a>
          <div class="features-div">
            <div class="featuretext">Free</div>
            <div class="featuretext _2">2</div>
            <div data-event-data-hint="basic" data-event-name="open pricing page modal" data-event-data-plan="free" data-event-data-feature="contact syncing &amp; management" class="featuretext _2 modal-decoration amplitude-track">
              Basic
            </div>
            <div data-event-data-hint="basic" data-event-name="open pricing page modal" data-event-data-plan="free" data-event-data-feature="Digibiz everywhere" class="featuretext _2 modal-decoration amplitude-track">
              Basic
            </div>
          </div>
          <a data-event-data-billing="annually" data-event-name="click pricing page sign up button" data-event-data-plan="free" data-event-data-location="bottom" href="/signup" class="pricing-button bottom amplitude-track w-button">Sign Up</a>
        </div>
        <div class="column-pricing business">
          <div class="pricing-label">Business</div>
          <div class="user-count">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e76c775d9a473ec8340c5_heroicons-solid_users2.svg" loading="lazy" alt="" class="usericon multi" />
            <div class="usercount-text">5+ users</div>
          </div>
          <a data-event-data-billing="annually" data-event-name="click pricing page contact sales button" data-event-data-plan="business" data-event-data-location="top" href="/contactform" class="pricing-button ent-copy amplitude-track w-button">Contact Sales</a>

          <div class="features-div pro">
            <div class="featuretext"><span style="text-decoration: line-through;">Rs 6000</span><span style="color: red;"> Rs 2999</span> / user</div>
            <div class="featuretext _2">Unlimited</div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="business" data-event-data-feature="contact syncing &amp; management" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="business" data-event-data-feature="Digibiz everywhere" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="business" data-event-data-feature="branded cards" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="basic" data-event-name="open pricing page modal" data-event-data-plan="business" data-event-data-feature="user management and sso" class="featuretext _2 modal-decoration amplitude-track">
              Basic
            </div>
          </div>
          <a data-event-data-billing="annually" data-event-name="click pricing page contact sales button" data-event-data-plan="business" data-event-data-location="bottom" href="/contactform" class="pricing-button bottom business amplitude-track w-button">Contact Sales</a>

        </div>
        <div class="column-pricing enterprise">
          <div class="pricing-label">Enterprise</div>
          <div class="user-count">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e76c775d9a473ec8340c5_heroicons-solid_users2.svg" loading="lazy" alt="" class="usericon multi" />
            <div class="usercount-text">100+ users</div>
          </div>
          <a data-event-data-billing="annually" data-event-name="click pricing page contact sales button" data-event-data-plan="enterprise" data-event-data-location="top" href="/contactform" class="pricing-button ent amplitude-track w-button">Contact Sales</a>

          <div class="features-div pro">
            <div class="featuretext">Contact sales</div>
            <div class="featuretext _2">Unlimited</div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="enterprise" data-event-data-feature="contact syncing &amp; management" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="enterprise" data-event-data-feature="Digibiz everywhere" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="enterprise" data-event-data-feature="branded cards" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="enterprise" data-event-data-feature="user management and sso" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
          </div>
          <a data-event-data-billing="annually" data-event-name="click pricing page contact sales button" data-event-data-plan="enterprise" data-event-data-location="bottom" href="/contactform" class="pricing-button bottom business amplitude-track w-button">Contact Sales</a>

        </div>
        <div class="column-pricing pro">
          <div class="pricing-label pro">Professional</div>
          <div class="user-count">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e696db38b22090c80acbc_heroicons-solid_users.svg" loading="lazy" alt="" class="usericon" />
            <div class="usercount-text">1 user</div>
          </div>
          <a data-event-data-billing="annually" data-event-name="click pricing page sign up button" data-event-data-plan="pro" data-event-data-location="top" href="/signup?package=professional" class="pricing-button amplitude-track w-button">Sign Up</a>
          <div class="features-div pro">
            <div class="featuretext"><span style="text-decoration: line-through;">Rs 8000</span><span style="color: red;"> Rs 3999</span></div>

            <div class="featuretext _2">Unlimited</div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="pro" data-event-data-feature="contact syncing &amp; management" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="basic" data-event-name="open pricing page modal" data-event-data-plan="pro" data-event-data-feature="Digibiz everywhere" class="featuretext _2 modal-decoration amplitude-track">
              Basic
            </div>
            <div data-event-data-hint="basic" data-event-name="open pricing page modal" data-event-data-plan="pro" data-event-data-feature="branded cards" class="featuretext _2 modal-decoration amplitude-track">
              Basic
            </div>
          </div>
          <a data-event-data-billing="annually" data-event-name="click pricing page sign up button" data-event-data-plan="pro" data-event-data-location="bottom" href="/signup?package=professional" class="pricing-button bottom pro amplitude-track w-button">Sign Up</a>
        </div>
      </div>
      <div style="display: none; opacity: 0" class="column-div-long monthly">
        <div class="column-pricing free">
          <div>
            <div class="text-block-31">Free, 2 Month.</div>
          </div>
          <div class="pricing-label">Free</div>
          <div class="user-count">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e696db38b22090c80acbc_heroicons-solid_users.svg" loading="lazy" alt="" class="usericon" />
            <div class="usercount-text">1 user</div>
          </div>
          <a data-event-data-billing="monthly" data-event-name="click pricing page sign up button" data-event-data-plan="free" data-event-data-location="top" href="/signup" class="pricing-button amplitude-track w-button">Sign Up</a>
          <div class="features-div">
            <div class="featuretext">Free</div>
            <div class="featuretext _2">2</div>
            <div data-event-data-hint="basic" data-event-name="open pricing page modal" data-event-data-plan="free" data-event-data-feature="contact syncing &amp; management" class="featuretext _2 modal-decoration amplitude-track">
              Basic
            </div>
            <div data-event-data-hint="basic" data-event-name="open pricing page modal" data-event-data-plan="free" data-event-data-feature="Digibiz everywhere" class="featuretext _2 modal-decoration amplitude-track">
              Basic
            </div>
          </div>
          <a data-event-data-billing="monthly" data-event-name="click pricing page sign up button" data-event-data-plan="free" data-event-data-location="bottom" href="/signup" class="pricing-button bottom amplitude-track w-button">Sign Up</a>
        </div>
        <div class="column-pricing business">
          <div class="pricing-label">Business</div>
          <div class="user-count">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e76c775d9a473ec8340c5_heroicons-solid_users2.svg" loading="lazy" alt="" class="usericon multi" />
            <div class="usercount-text">5+ users</div>
          </div>
          <a data-event-data-billing="monthly" data-event-name="click pricing page contact sales button" data-event-data-plan="business" data-event-data-location="top" href="/contactform" class="pricing-button ent-copy amplitude-track w-button">Contact Sales</a>
          <div class="features-div pro">
            <div class="featuretext"><span style="text-decoration: line-through;">Rs 6000</span><span style="color: red;"> Rs 2999</span> / user</div>
            <div class="featuretext _2">Unlimited</div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="business" data-event-data-feature="contact syncing &amp; management" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="business" data-event-data-feature="Digibiz everywhere" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal " data-event-data-plan="business" data-event-data-feature="branded cards" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="basic" data-event-name="open pricing page modal" data-event-data-plan="business" data-event-data-feature="user management and sso" class="featuretext _2 modal-decoration amplitude-track">
              Basic
            </div>
          </div>
          <a data-event-data-billing="monthly" data-event-name="click pricing page contact sales button" data-event-data-plan="business" data-event-data-location="bottom" href="/contactform" class="pricing-button bottom business amplitude-track w-button">Contact Sales</a>
        </div>
        <div class="column-pricing enterprise">
          <div class="pricing-label">Enterprise</div>
          <div class="user-count">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e76c775d9a473ec8340c5_heroicons-solid_users2.svg" loading="lazy" alt="" class="usericon multi" />
            <div class="usercount-text">100+ users</div>
          </div>
          <a data-event-data-billing="monthly" data-event-name="click pricing page contact sales button" data-event-data-plan="enterprise" data-event-data-location="top" href="/contactform" class="pricing-button ent amplitude-track w-button">Contact Sales</a>
          <div class="features-div pro">
            <div class="featuretext">Contact sales</div>
            <div class="featuretext _2">Unlimited</div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="enterprise" data-event-data-feature="contact syncing &amp; management" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="enterprise" data-event-data-feature="Digibiz everywhere" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="enterprise" data-event-data-feature="branded cards" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="enterprise" data-event-data-feature="user management and sso" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
          </div>
          <a data-event-data-billing="monthly" data-event-name="click pricing page contact sales button" data-event-data-plan="enterprise" data-event-data-location="bottom" href="/contactform" class="pricing-button bottom business amplitude-track w-button">Contact Sales</a>
        </div>
        <div class="column-pricing pro">
          <div class="pricing-label pro">Professional</div>
          <div class="user-count">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e696db38b22090c80acbc_heroicons-solid_users.svg" loading="lazy" alt="" class="usericon" />
            <div class="usercount-text">1 user</div>
          </div>
          <a data-event-data-billing="monthly" data-event-name="click pricing page sign up button" data-event-data-plan="pro" data-event-data-location="top" href="/signup?package=professional" class="pricing-button amplitude-track w-button">Sign Up</a>
          <div class="features-div pro">
            <div class="featuretext"><span style="text-decoration: line-through;">Rs 8000</span><span style="color: red;"> Rs 3999</span></div>
            <div class="featuretext _2">Unlimited</div>
            <div data-event-data-hint="advanced" data-event-name="open pricing page modal" data-event-data-plan="pro" data-event-data-feature="contact syncing &amp; management" class="featuretext _2 modal-decoration amplitude-track">
              Advanced
            </div>
            <div data-event-data-hint="basic" data-event-name="open pricing page modal" data-event-data-plan="pro" data-event-data-feature="Digibiz everywhere" class="featuretext _2 modal-decoration amplitude-track">
              Basic
            </div>
            <div data-event-data-hint="basic" data-event-name="open pricing page modal" data-event-data-plan="pro" data-event-data-feature="branded cards" class="featuretext _2 modal-decoration amplitude-track">
              Basic
            </div>
          </div>
          <a data-event-data-billing="monthly" data-event-name="click pricing page sign up button" data-event-data-plan="pro" data-event-data-location="bottom" href="/signup?package=professional" class="pricing-button bottom pro amplitude-track w-button">Sign Up</a>
        </div>
      </div>
      <div class="pricing-rows">
        <div class="w-layout-grid grid-8">
          <div id="w-node-_355d53bf-a5b3-2ebb-f2e6-7308056e23a4-ee5b290f" class="row-white toggle">
            <div id="w-node-_355d53bf-a5b3-2ebb-f2e6-7308056e23a5-ee5b290f" class="text-block-30">
              Price per year
            </div>
            <div id="w-node-_355d53bf-a5b3-2ebb-f2e6-7308056e23a7-ee5b290f" class="divider-line"></div>
          </div>
          <div id="w-node-_1fc824f6-e293-ae0e-49b3-0a0988cc4a1a-ee5b290f" class="row-gray">
            <div id="w-node-_1fc824f6-e293-ae0e-49b3-0a0988cc4a1b-ee5b290f" class="text-block-30">
              Unique digital business cards
            </div>
            <div id="w-node-_1fc824f6-e293-ae0e-49b3-0a0988cc4a1d-ee5b290f" class="divider-line"></div>
          </div>
          <div id="w-node-eecd11ff-7f10-d9f1-ba86-21c9d47546a1-ee5b290f" class="row-white">
            <div id="w-node-eecd11ff-7f10-d9f1-ba86-21c9d47546a2-ee5b290f" class="text-block-30">
              Contact syncing &amp; management
            </div>
            <div id="w-node-eecd11ff-7f10-d9f1-ba86-21c9d47546a4-ee5b290f" class="divider-line"></div>
          </div>
          <div id="w-node-_330cafc9-b577-0922-4bb5-c9b3de54d641-ee5b290f" class="row-gray secondary">
            <div id="w-node-_330cafc9-b577-0922-4bb5-c9b3de54d642-ee5b290f" class="text-block-30 supporting">
              Cross-channel identity toolkit
            </div>
            <div class="div-block-5903">
              <div class="text-block-38">
                Email signatures &amp; virtual backgrounds
              </div>
            </div>
            <div id="w-node-_330cafc9-b577-0922-4bb5-c9b3de54d644-ee5b290f" class="divider-line"></div>
          </div>
          <div id="w-node-d97125ae-f806-617e-5978-e2a88621429b-ee5b290f" class="row-white">
            <div id="w-node-_80495937-e79a-b0ed-51bd-68e746a52577-ee5b290f" class="text-block-30 supporting">
              Branded media-rich cards
            </div>
            <div class="div-block-5903">
              <div class="text-block-38">QR, Badges, Video, Designs</div>
            </div>
            <div id="w-node-_678a0bf2-ccc9-17ee-0043-9956e51849f4-ee5b290f" class="divider-line"></div>
          </div>
          <div id="w-node-_31d4c51b-5c68-1744-6b35-d5e0f74ce3ad-ee5b290f" class="row-gray">
            <div id="w-node-_31d4c51b-5c68-1744-6b35-d5e0f74ce3ae-ee5b290f" class="text-block-30">
              User management and SSO
            </div>
            <div id="w-node-_31d4c51b-5c68-1744-6b35-d5e0f74ce3b0-ee5b290f" class="divider-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-pricing wf-section">
    <div class="mobile-column w-container">
      <div class="div-block-5899">
        <div>
          <div class="text-block-31">Free, 2 months</div>
        </div>
      </div>
      <div class="mobile-top-cont">
        <div class="mobile-price-label">Free</div>
        <div class="user-count-mobile">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e696db38b22090c80acbc_heroicons-solid_users.svg" loading="lazy" alt="" />
          <div class="text-block-33">1 user</div>
        </div>
        <a data-event-data-location="mobile" data-event-name="click pricing page sign up button" data-event-data-plan="free" data-event-data-billing="annually" href="/signup" class="mobile-button amplitude-track w-button">Sign Up</a>
      </div>
      <div class="mobile-table">
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9">
              <div class="label-mobile">Price per year</div>
            </div>
            <div class="column-4 w-col w-col-3">
              <div class="right-text">Free</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Unique digital business cards</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">2</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">
                Contact syncing &amp; management
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Basic</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="column-5 w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Cross-channel identity toolkit</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  Email signatures &amp; virtual backgrounds
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Basic</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
      </div>
    </div>
    <div class="mobile-column pro w-container">
      <div class="mobile-top-cont">
        <div class="mobile-price-label">Professional</div>
        <div class="user-count-mobile">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e696db38b22090c80acbc_heroicons-solid_users.svg" loading="lazy" alt="" />
          <div class="text-block-33">1 user</div>
        </div>
        <a data-event-data-location="mobile" data-event-name="click pricing page sign up button" data-event-data-plan="pro" data-event-data-billing="annually" href="/signup?package=professional" class="mobile-button amplitude-track w-button">Sign Up</a>
      </div>
      <div class="mobile-table">
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9">
              <div class="label-mobile">Price per year</div>
            </div>
            <div class="column-4 w-col w-col-3">
              <div class="right-text"><span style="text-decoration: line-through;">Rs 8000</span><span style="color: red;"> Rs 3999</span></div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Unique digital business cards</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Unlimited</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">
                Contact syncing &amp; management
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="column-5 w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Cross-channel identity toolkit</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  Email signatures &amp; virtual backgrounds
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Basic</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="column-6 w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">Branded media-rich cards</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  QR, Badges, Video, Designs
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Basic</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
      </div>
    </div>
    <div class="mobile-column pro w-container">
      <div class="mobile-top-cont">
        <div class="mobile-price-label">Business</div>
        <div class="user-count-mobile multi">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e76c775d9a473ec8340c5_heroicons-solid_users2.svg" loading="lazy" alt="" />
          <div class="text-block-33">5+ users</div>
        </div>
        <a data-event-data-location="mobile" data-event-name="click pricing page contact sales button" data-event-data-plan="business" data-event-data-billing="annually" href="/contactform" class="mobile-button amplitude-track w-button">Contact Sales</a>
      </div>
      <div class="mobile-table">
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9">
              <div class="label-mobile">Price per year</div>
            </div>
            <div class="column-4 w-col w-col-3">
              <div class="right-text"><span style="text-decoration: line-through;">Rs 6000</span><span style="color: red;"> Rs 2999</span> / user</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Unique digital business cards</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Unlimited</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">
                Contact syncing &amp; management
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="column-5 w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Cross-channel identity toolkit</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  Email signatures &amp; virtual backgrounds
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="column-6 w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">Branded media-rich cards</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  QR, Badges, Video, Designs
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">User management and SSO</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Basic</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
      </div>
    </div>
    <div class="mobile-column pro w-container">
      <div class="mobile-top-cont">
        <div class="mobile-price-label">Enterprise</div>
        <div class="user-count-mobile multi">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e76c775d9a473ec8340c5_heroicons-solid_users2.svg" loading="lazy" alt="" />
          <div class="text-block-33">100+ users</div>
        </div>
        <a data-event-data-location="mobile" data-event-name="click pricing page contact sales button" data-event-data-plan="enterprise" data-event-data-billing="annually" href="/contactform" class="mobile-button ent amplitude-track w-button">Contact Sales</a>
      </div>
      <div class="mobile-table">
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9">
              <div class="label-mobile">Price per year</div>
            </div>
            <div class="column-4 w-col w-col-3">
              <div class="right-text">Contact sales</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Unique digital business cards</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Unlimited</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">
                Contact syncing &amp; management
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="column-5 w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Cross-channel identity toolkit</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  Email signatures &amp; virtual backgrounds
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="column-6 w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">Branded media-rich cards</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  QR, Badges, Video, Designs
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">User management and SSO</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
      </div>
    </div>
  </div>
  <div class="mobile-pricing monthly wf-section">
    <div class="mobile-column bus pro w-container">
      <div class="mobile-top-cont">
        <div class="mobile-price-label">Professional</div>
        <div class="user-count-mobile">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e696db38b22090c80acbc_heroicons-solid_users.svg" loading="lazy" alt="" />
          <div class="text-block-33">1 user</div>
        </div>
        <a data-event-data-location="mobile" data-event-name="click pricing page sign up button" data-event-data-plan="pro" data-event-data-billing="monthly" href="/signup?package=professional" class="mobile-button monthly amplitude-track w-button">Sign Up</a>
      </div>
      <div class="mobile-table">
        <div class="pricing-toggle-mobile">
          <div class="monthlymobile">billed monthly</div>
          <div class="swapicondiv">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631b76e56a3f1478949af184_ic_twotone-published-with-changes.svg" loading="lazy" width="12" height="12" alt="" class="swapiconmobile" />
          </div>
        </div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9">
              <div class="label-mobile">Price per year</div>
            </div>
            <div class="column-4 w-col w-col-3">
              <div class="right-text"><span style="text-decoration: line-through;">Rs 8000</span><span style="color: red;"> Rs 3999</span></div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Unique digital business cards</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Unlimited</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">
                Contact syncing &amp; management
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="column-5 w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Cross-channel identity toolkit</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  Email signatures &amp; virtual backgrounds
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Basic</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="column-6 w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">Branded media-rich cards</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  QR, Badges, Video, Designs
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Basic</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
      </div>
    </div>
    <div class="mobile-column pro w-container">
      <div class="mobile-top-cont">
        <div class="mobile-price-label">Business</div>
        <div class="user-count-mobile multi">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e76c775d9a473ec8340c5_heroicons-solid_users2.svg" loading="lazy" alt="" />
          <div class="text-block-33">5+ users</div>
        </div>
        <a data-event-data-location="mobile" data-event-name="click pricing page contact sales button" data-event-data-plan="business" data-event-data-billing="monthly" href="/contactform" class="mobile-button amplitude-track w-button">Contact Sales</a>
      </div>
      <div class="mobile-table">
        <div class="pricing-toggle-mobile">
          <div class="monthlymobile">billed monthly</div>
          <div class="swapicondiv">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631b76e56a3f1478949af184_ic_twotone-published-with-changes.svg" loading="lazy" width="12" height="12" alt="" class="swapiconmobile" />
          </div>
        </div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9">
              <div class="label-mobile">Price per year</div>
            </div>
            <div class="column-4 w-col w-col-3">
              <div class="right-text"><span style="text-decoration: line-through;">Rs 6000</span><span style="color: red;"> Rs 2999</span> / user</div>

            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Unique digital business cards</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Unlimited</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">
                Contact syncing &amp; management
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="column-5 w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Cross-channel identity toolkit</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  Email signatures &amp; virtual backgrounds
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="column-6 w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">Branded media-rich cards</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  QR, Badges, Video, Designs
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">User management and SSO</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Basic</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
      </div>
    </div>
    <div class="mobile-column pro w-container">
      <div class="mobile-top-cont">
        <div class="mobile-price-label">Enterprise</div>
        <div class="user-count-mobile multi">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e76c775d9a473ec8340c5_heroicons-solid_users2.svg" loading="lazy" alt="" />
          <div class="text-block-33">100+ users</div>
        </div>
        <a data-event-data-location="mobile" data-event-name="click pricing page contact sales button" data-event-data-plan="enterprise" data-event-data-billing="monthly" href="/contactform" class="mobile-button ent amplitude-track w-button">Contact Sales</a>

      </div>
      <div class="mobile-table">
        <div class="pricing-toggle-mobile">
          <div class="monthlymobile">billed monthly</div>
          <div class="swapicondiv">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631b76e56a3f1478949af184_ic_twotone-published-with-changes.svg" loading="lazy" width="12" height="12" alt="" class="swapiconmobile" />
          </div>
        </div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9">
              <div class="label-mobile">Price per year</div>
            </div>
            <div class="column-4 w-col w-col-3">
              <div class="right-text">Contact sales</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Unique digital business cards</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Unlimited</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">
                Contact syncing &amp; management
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="column-5 w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Cross-channel identity toolkit</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  Email signatures &amp; virtual backgrounds
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="column-6 w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">Branded media-rich cards</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  QR, Badges, Video, Designs
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">User management and SSO</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Advanced</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
      </div>
    </div>
    <div class="mobile-column w-container">
      <div class="div-block-5899">
        <div>
          <div class="text-block-31">Free</div>
        </div>
      </div>
      <div class="mobile-top-cont">
        <div class="mobile-price-label">Free, 2 months</div>
        <div class="user-count-mobile">
          <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630e696db38b22090c80acbc_heroicons-solid_users.svg" loading="lazy" alt="" />
          <div class="text-block-33">1 user</div>
        </div>
        <a data-event-data-location="mobile" data-event-name="click pricing page sign up button" data-event-data-plan="free" data-event-data-billing="monthly" href="/signup" class="mobile-button amplitude-track w-button">Sign Up</a>
      </div>
      <div class="mobile-table">
        <div class="pricing-toggle-mobile">
          <div class="swapicondiv">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631b76e56a3f1478949af184_ic_twotone-published-with-changes.svg" loading="lazy" width="12" height="12" alt="" class="swapiconmobile" />
          </div>
          <div class="monthlymobile">billed monthly</div>
        </div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9">
              <div class="label-mobile">Price per year</div>
            </div>
            <div class="column-4 w-col w-col-3">
              <div class="right-text">Free</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Unique digital business cards</div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">2</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-white-mobile">
          <div class="mobile-columns w-row">
            <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
              <div class="label-mobile">
                Contact syncing &amp; management
              </div>
            </div>
            <div class="column-4 w-col w-col-3 w-col-small-3 w-col-tiny-3">
              <div class="right-text">Basic</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
        <div class="row-gray-mobile">
          <div class="mobile-columns w-row">
            <div class="column-5 w-col w-col-8 w-col-small-8 w-col-tiny-8">
              <div class="label-mobile">Cross-channel identity toolkit</div>
              <div class="supporting-text-mobile">
                <div class="supporting-text-block">
                  Email signatures &amp; virtual backgrounds
                </div>
              </div>
            </div>
            <div class="column-4 w-col w-col-4 w-col-small-4 w-col-tiny-4">
              <div class="right-text">Basic</div>
            </div>
          </div>
        </div>
        <div class="divider-mobile"></div>
      </div>
    </div>
  </div>
  <div class="mobile-pricing-footer wf-section">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/631bb09eb5384607da811cc8_image%2068%20(Traced).svg" loading="lazy" alt="" />
    <div class="text-block-37">
      For more detailed information, view this page on a desktop browser.
    </div>
  </div>
  <div class="compare-section wf-section">
    <div class="w-container">
      <h2 class="heading-55">
        <span class="text-span-33">Compare</span> our plans
      </h2>
    </div>
    <div class="table-container w-container">
      <div class="compare-div-long">
        <div class="compare-column">
          <div class="compare-heading-label">
            <div class="text-block-32">Free</div>
          </div>
          <div class="compare-text-div">
            <div class="compare-text">1</div>
          </div>
          <div class="compare-text-div">
            <div class="compare-text">2</div>
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
        </div>
        <div class="compare-column enterprise">
          <div class="compare-heading-label enterprise">
            <div class="text-block-32">Enterprise</div>
          </div>
          <div class="compare-text-div">
            <div class="compare-text">100+</div>
          </div>
          <div class="compare-text-div">
            <div class="compare-text">Unlimited</div>
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
        </div>
        <div class="compare-column pro">
          <div class="compare-heading-label pro">
            <div class="text-block-32">Professional</div>
          </div>
          <div class="compare-text-div">
            <div class="compare-text">1</div>
          </div>
          <div class="compare-text-div">
            <div class="compare-text">Unlimited</div>
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
        </div>
        <div class="compare-column business">
          <div class="compare-heading-label bus">
            <div class="text-block-32">Business</div>
          </div>
          <div class="compare-text-div">
            <div class="compare-text">5+</div>
          </div>
          <div class="compare-text-div">
            <div class="compare-text">Unlimited</div>
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div">
            <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/630fb06da4cbcc7ebcc4ccaa_Filled.svg" loading="lazy" alt="" />
          </div>
          <div class="compare-item-div"></div>
        </div>
      </div>
      <div class="w-layout-grid compare-grid">
        <div id="w-node-_1eec3d93-8c07-63c5-888c-31fdf52ea96b-ee5b290f" class="row-gray-compare">
          <div id="w-node-_1eec3d93-8c07-63c5-888c-31fdf52ea96c-ee5b290f" class="compare-label">
            Users
          </div>
        </div>
        <div id="w-node-_9e06ce2f-c2b8-9f6c-7166-aaec557b088b-ee5b290f" class="row-white-compare">
          <div id="w-node-_9e06ce2f-c2b8-9f6c-7166-aaec557b088c-ee5b290f" class="compare-label">
            Unique digital business cards
          </div>
        </div>
        <div id="w-node-_2cfcb627-512b-c443-cd05-385ca05cef09-ee5b290f" class="row-gray-compare">
          <div id="w-node-_2cfcb627-512b-c443-cd05-385ca05cef0a-ee5b290f" class="compare-label">
            Digibiz address book
          </div>
        </div>
        <div id="w-node-d3fe57d4-2292-c9a9-6953-e3038cb1cf62-ee5b290f" class="row-white-compare">
          <div id="w-node-d3fe57d4-2292-c9a9-6953-e3038cb1cf63-ee5b290f" class="compare-label modal-decoration">
            Unlimited card sharing
          </div>
        </div>
        <div id="w-node-_063e600e-23c9-7f0d-ecdd-3b8e4d65ea2a-ee5b290f" class="row-gray-compare">
          <div id="w-node-_063e600e-23c9-7f0d-ecdd-3b8e4d65ea2b-ee5b290f" class="compare-label">
            Send SMS via Digibiz
          </div>
        </div>
        <div id="w-node-_8d8b586c-0586-bc06-f0c0-94b037d15ae4-ee5b290f" class="row-white-compare">
          <div id="w-node-_8d8b586c-0586-bc06-f0c0-94b037d15ae5-ee5b290f" class="compare-label">
            Profile
          </div>
        </div>
        <div id="w-node-_090ae418-318e-a02e-ab3e-84c6f53a5a4e-ee5b290f" class="row-gray-compare">
          <div id="w-node-_090ae418-318e-a02e-ab3e-84c6f53a5a4f-ee5b290f" class="compare-label">
            Customer support
          </div>
        </div>
        <div id="w-node-b67ee125-0975-dd82-4df1-cf71ca8d149f-ee5b290f" class="row-white-compare">
          <div id="w-node-b67ee125-0975-dd82-4df1-cf71ca8d14a0-ee5b290f" class="compare-label">
            Custom colors
          </div>
        </div>
        <div id="w-node-_8253930f-1472-f833-db67-00ee751bee95-ee5b290f" class="row-gray-compare">
          <div id="w-node-_8253930f-1472-f833-db67-00ee751bee96-ee5b290f" class="compare-label">
            Personalized card link
          </div>
        </div>
        <div id="w-node-_767f58df-565b-08d3-55a1-4dc8a7f5b968-ee5b290f" class="row-white-compare">
          <div id="w-node-_767f58df-565b-08d3-55a1-4dc8a7f5b969-ee5b290f" class="compare-label">
            Renew QR code
          </div>
        </div>
        <div id="w-node-_7d60cb45-2cce-002c-3da1-d9d911de6944-ee5b290f" class="row-gray-compare">
          <div id="w-node-_7d60cb45-2cce-002c-3da1-d9d911de6945-ee5b290f" class="compare-label modal-decoration">
            Card analytics
          </div>
        </div>
        <div id="w-node-_35ad29fa-24fc-8a7e-d1a1-c990feb7616e-ee5b290f" class="row-white-compare">
          <div id="w-node-_35ad29fa-24fc-8a7e-d1a1-c990feb7616f-ee5b290f" class="compare-label">
            Corporate directory
          </div>
        </div>
        <div id="w-node-_27ca2f79-35fb-c147-59a9-23b7e8c8e5f7-ee5b290f" class="row-gray-compare">
          <div id="w-node-_27ca2f79-35fb-c147-59a9-23b7e8c8e5f8-ee5b290f" class="compare-label">
            Corporate virtual backgrounds
          </div>
        </div>
        <div id="w-node-_86b231b8-b3ff-20c9-a515-31b1a3188b40-ee5b290f" class="row-white-compare">
          <div id="w-node-_86b231b8-b3ff-20c9-a515-31b1a3188b41-ee5b290f" class="compare-label">
            Organization management
          </div>
        </div>
        <div id="w-node-bfec52a9-3086-995d-7df6-4798a66b98f7-ee5b290f" class="row-gray-compare">
          <div id="w-node-bfec52a9-3086-995d-7df6-4798a66b98f8-ee5b290f" class="compare-label modal-decoration">
            Zapier integration
          </div>
        </div>
        <div id="w-node-ebaf8fa2-526f-a62c-8786-7b23707886fb-ee5b290f" class="row-white-compare">
          <div id="w-node-ebaf8fa2-526f-a62c-8786-7b23707886fc-ee5b290f" class="compare-label modal-decoration">
            Active Directory integration
          </div>
        </div>
        <div id="w-node-_58c17c1b-28db-cc34-a4e5-99bedc7a4ffa-ee5b290f" class="row-gray-compare">
          <div id="w-node-_58c17c1b-28db-cc34-a4e5-99bedc7a4ffb-ee5b290f" class="compare-label">
            Direct SSO integrations
          </div>
        </div>
        <div id="w-node-_331b0821-0e1b-f40a-29fa-440602557870-ee5b290f" class="row-white-compare">
          <div id="w-node-_331b0821-0e1b-f40a-29fa-440602557871-ee5b290f" class="compare-label modal-decoration">
            SOC 2 report
          </div>
        </div>
        <div id="w-node-aea13a2c-9a05-b54a-fc96-77eb89d8b6f8-ee5b290f" class="row-gray-compare">
          <div id="w-node-aea13a2c-9a05-b54a-fc96-77eb89d8b6f9-ee5b290f" class="compare-label">
            Onboarding session
          </div>
        </div>
      </div>
      <div class="pricing-buttons-div">
        <div class="pricing-button-cont">
          <a href="/signup" class="pricing-button--compare w-button">Sign Up</a>
        </div>
        <div class="pricing-button-cont ent">
          <a href="/contactform" class="pricing-button--compare ent w-button">Contact
            Sales</a>
        </div>
        <div class="pricing-button-cont bus">
          <a href="/contactform" class="pricing-button--compare bus w-button">Contact Sales</a>
        </div>
        <div class="pricing-button-cont pro">
          <a href="/signup?package=professional" class="pricing-button--compare w-button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
<%- include('partials/bodyclose') %>
