<%- include('partials/head') %>
<title>Digibiz Professional | Digibiz</title>
<%- include('partials/body') %>
<section class="hero_image pro wf-section">
  <div class="div-block-5838 hhpro">
    <div class="div-block-5839 hhpro">
      <h1 class="heading-49">
        <span class="text-span-16">Digibiz<br /></span>‍Professional
      </h1>
      <p class="paragraph-18">
        Create, customize, and share premium digital business cards with
        Digibiz Professional.
      </p>
      <a href="/pricing" class="gradient-button pro w-button">View Pricing</a>
    </div>
    <img src="/images/image19.png" loading="lazy" alt="" class="hhpropgrahic" />
  </div>
</section>
<div class="purple-3-features-pro">
  <div class="feature-block-3">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/601b03557676b50c35127549_Custom.svg" alt="" />
    <h1 class="heading-4-0">
      <strong class="heading-4-0-centered-blue">Customize your business cards</strong><br />
    </h1>
  </div>
  <div class="feature-block-3">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/601b0354c00c7ec1db7986e8_Brand.svg" alt="" />
    <h1 class="heading-4-0">
      <strong class="heading-4-0-centered-blue">Stay on brand<br /></strong><br />
    </h1>
  </div>
  <div class="feature-block-3">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/601b0355b0bc368742f5ca48_CRM.svg" alt="" />
    <h1 class="heading-4-0">
      <strong class="heading-4-0-centered-blue">Sync with your CRM<br /><br /></strong><br />
    </h1>
  </div>
</div>
<div class="div-block-9">
  <section id="digital-cards" class="purple-feature-section wf-section">
    <div class="div-block-5840">
      <div class="what_prohihello">
        <img src="/images/image20.png" loading="lazy" alt="Professional branded digital visiting card" class="image-22" /><img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/6055396d61cc3342b68c8480_Circles.png" alt=" Three digital business cards, including one virtual card with a video. " class="about_pro" />
      </div>
      <div class="feature-text">
        <h2 style="text-align: center;">
          <strong class="bold-text-16">What is Digibiz Professional?</strong>
        </h2>
        <p class="heading-5-0-white">
          Digibiz Professional is a premium digital business card plan for
          individuals. With more customization options than in the Free
          plan, Digibiz Professional includes features like custom colors,
          personalized URLs, and branded QR codes. Subscribe for a month
          or for the year—it’s up to you.
        </p>
      </div>
    </div>
  </section>
  <section id="feature-section" class="section-4 wf-section">
    <div class="container-11">
      <div class="title-wrap-centre">
        <h1 class="heading">
          <strong class="bold-text-10">Custom branding</strong>
        </h1>
      </div>
      <div data-duration-in="300" data-duration-out="600" data-current="Tab 1" data-easing="ease" class="w-tabs">
        <div class="tabs-menu-2 w-tab-menu">
          <a data-w-tab="Tab 1" class="standard-tab w-inline-block w-tab-link w--current"><img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/601b1af10ec1c1eaac8f633b_Custom_ColorsIC.svg" alt="" class="tab-image" />
            <div class="text-block-6">Custom Colors</div>
            <div class="load-bar-base">
              <div class="load-bar"></div>
            </div>
          </a><a data-w-tab="Tab 2" class="standard-tab w-inline-block w-tab-link"><img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/601b320c0788664555f618b8_URL_IC.svg" alt="" class="tab-image" />
            <div>Personalized URL</div>
            <div class="load-bar-base">
              <div class="load-bar"></div>
            </div>
          </a><a data-w-tab="Tab 3" class="standard-tab w-inline-block w-tab-link"><img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/601b1b0a47f4f95e607441d7_QR_IC.svg" alt="" class="tab-image" />
            <div>Branded QR Code</div>
            <div class="load-bar-base">
              <div class="load-bar"></div>
            </div>
          </a>
        </div>
        <div class="tabs-content w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="tab-panel">
              <div class="w-layout-grid tab-grid">
                <div id="w-node-_0bb094b1-a1ca-c5b4-9435-8fad05f74ecc-f97e5175" class="animation-block">
                  <img src="/images/image21.png" alt="Custom colors on digital visiting card" class="feature-image-4" />
                </div>
                <div id="w-node-_0bb094b1-a1ca-c5b4-9435-8fad05f74ece-f97e5175" class="content-block">
                  <h3 class="tab-h1">Custom colors</h3>
                  <p class="heading-5-0">
                    While the free app offers ten beautiful colors to
                    choose from, with Digibiz Professional you can
                    customize your card with any color on the rainbow.
                    With the ability to choose an overall color of your
                    card, the color of the icons, and more, you can
                    completely tailor your digital business cards to best
                    fit your brand.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="tab-panel">
              <div class="w-layout-grid tab-grid">
                <div id="w-node-_0bb094b1-a1ca-c5b4-9435-8fad05f74ed6-f97e5175" class="animation-block">
                  <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/605539885e94b108c5697f78_Personalized_URL.png" alt="Personalized card link and URL for electronic business card with Digibiz Professional subscription" class="feature-image-4-copy" />
                </div>
                <div id="w-node-_0bb094b1-a1ca-c5b4-9435-8fad05f74ed8-f97e5175" class="content-block">
                  <h3 class="tab-h1">Personalized Link</h3>
                  <p class="heading-5-copy">
                    Links look best when they’re neat and tidy. Appear
                    even more professional by personalizing your URL to
                    include your name or company.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div class="tab-panel">
              <div class="w-layout-grid tab-grid">
                <div id="w-node-_0bb094b1-a1ca-c5b4-9435-8fad05f74ee0-f97e5175" class="animation-block">
                  <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/601b12a02dc24f0ead1219e7_Brandend_QR.png" alt="Branded QR code Digibiz Professional paid plan" class="feature-image-5" />
                </div>
                <div id="w-node-_0bb094b1-a1ca-c5b4-9435-8fad05f74ee2-f97e5175" class="content-block">
                  <h3 class="tab-h1">Branded QR code</h3>
                  <p class="heading-5-0">
                    Using a QR code is one of the primary ways to share
                    your business card on Digibiz. Include your logo in
                    the center of your QR code so whenever you share your
                    card, your new connection instantly knows your brand.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="share-cards" class="feature-section wf-section">
    <div class="flex-container w-container">
      <div class="feature-image-mask">
        <img src="/images/image22.png" alt="Create unlimited virtual business cards with the paid Digibiz Professional plan for individuals" class="feature-image-unlimited" />
      </div>
      <div class="feature-text">
        <h2 class="heading-30">
          <strong>Create unlimited business cards<br /></strong>
        </h2>
        <p class="heading-5-0">
          We get it—some people need more than four digital business cards
          because of all the different hats they wear. With Digibiz
          Professional you can create an unlimited number of different
          types of business cards. Create a contact card for work, one for
          networking, one for your family, one to give to your kids’
          friends’ parents, and more.
        </p>
      </div>
    </div>
  </section>
</div>
<%- include('partials/footer') %>
<%- include('partials/bodyclose') %>
