<%- include('partials/head') %>
<title>
  Smart Address Book, Self-healing address book with live contacts
</title>
<%- include('partials/body') %>
<section class="hero_image wf-section">
  <div class="div-block-5838">
    <div class="div-block-5839">
      <h1 class="big_heading_allsubssmall">
        Self-Healing
        <span class="text-span-20"><br />Address<br />Book</span>
      </h1>
      <p class="heading-5-0">
        When you share your digital business card, your new contact’s
        information will go straight into your smart address book, so you
        can remember who you meet.
      </p>
    </div>
    <img src="/images/image16.png" alt="Digibiz self-healing address book and contact manager" sizes="(max-width: 479px) 92vw, (max-width: 991px) 85vw, (max-width: 1279px) 460.59375px, 506px" class="hero-media2" />
  </div>
</section>
<section id="feature-section" class="feature-section-color wf-section">
  <div class="flex-container w-container">
    <div class="feature-text">
      <h2 style="text-align: center;" class="heading-2-0">
        <strong>Free contact manager<br /></strong>
      </h2>
      <p class="heading-5-0">
        Digibiz’s self-healing address book is your free personal and
        professional CRM. Easily keep track of your contacts with a
        chronological timeline of who you met and when—we’ll even send you
        a reminder to follow up. <br />
      </p>
    </div>
    <div class="feature-image-mask">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/61bbd1c8d05054dc0a75e8b5_5e83e185e2c9cc5ecfe3cd8d_website%20contacts_color%20(1).png" alt=" A phone showing Digibiz&#x27;s free address book and contact manager." class="feature-image" />
    </div>
  </div>
</section>
<section id="feature-section" class="feature-section wf-section">
  <div class="flex-container w-container">
    <div class="feature-image-mask">
      <img src="/images/image18.png" alt="A male law student&#x27;s virtual business card, showing that he is a Live Contact." class="feature-image" />
    </div>
    <div class="feature-text">
      <h2 style="text-align: center;" class="heading-2-0">
        <strong>Live Contacts<br /></strong>
      </h2>
      <p class="heading-5-0">
        When you exchange digital business cards with another Digibiz
        user, you become Live Contacts. This means you’ll always have each
        other’s latest information in your address books.<br />
      </p>
    </div>
  </div>
</section>
<div style="padding-bottom: 0; margin-bottom: 0;" class="purple-3-features-copy">
  <div class="div-block-22">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e600752dae0c71a1da33fb3_Live.svg" alt="Digibiz&#x27;s self-healing address book" />
    <h2 class="heading-9">
      <strong class="heading-3-0-centered">How your self-healing address book
        works<br />‍<br /></strong>
    </h2>
  </div>
  <div class="div-block-584">
    <div id="w-node-ea0e8596-6a9c-1f60-006c-e171e0266575-d37e5188" class="feature-block">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e7ad5d9c214566b5e911a77_number%20one.svg" alt="Step one make your card" class="image-medium-icons" />
      <h1 class="heading-7-0"><strong>Make your card</strong><br /></h1>
      <div class="body">
        Add a photo, phone number, email address, social profiles,
        and more!<br />
      </div>
    </div>
    <div id="w-node-bcea8226-dceb-7176-9f5a-b8ace13c7bc0-d37e5188" class="feature-block">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e7ad63bc2dd157b2bb02ecc_number%20two.svg" alt="Step two share your card" class="image-medium-icons" />
      <h1 class="heading-7-0"><strong>Share your card</strong><br /></h1>
      <div class="body">
        Send the link to your card to anyone, or share using your Digibiz
        code. No app required!<br />
      </div>
    </div>
    <div id="w-node-cf7a6b66-3330-a7ba-32d2-936a6ee80212-d37e5188" class="feature-block">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e7ad74dc2dd1534a1b0315d_number%20three.svg" alt="Step three become live contacts" class="image-medium-icons" />
      <h1 class="heading-7-0">
        <strong>Become Live Contacts</strong><br />
      </h1>
      <div class="body">
        When you exchange cards with another Digibiz user, you’ll always
        have each other’s latest information. <br />
      </div>
    </div>
    <div id="w-node-_27f4a223-996d-7823-5b11-20e71706413c-d37e5188" class="feature-block">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e7ad76cc21456c7e5911d9c_number%20three-1.svg" alt="Step four request contact information" class="image-medium-icons" />
      <h1 class="heading-7-0">
        <strong>Request information</strong><br />
      </h1>
      <div class="body">
        Send a request to anyone who’s information may have changed and
        your address book takes care of the rest. <br />
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
<%- include('partials/bodyclose') %>
