<%- include('partials/head') %>
<title>
  Share Digital Business Cards with QR code, Card Link, Email Digital Card
</title>
<%- include('partials/body') %>
<section class="hero_image sharinghero wf-section">
  <div class="div-block-5838">
    <div class="div-block-5839 sharing">
      <h1 class="big_heading_allsubssmall">
        Sharing<span class="text-span-20"><br />Your Business Card</span>
      </h1>
      <p class="heading-5-0 sharing">
        Easily share your virtual card with anyone using a QR code, email,
        text, and more. Anyone can receive a Digibiz card.
      </p>
    </div>
    <img src="/images/image15.png" alt="Share your Digibiz digital business card " class="imgStyles" />
  </div>
</section>
<section id="feature-section" class="feature-section-color wf-section">
  <div class="flex-container w-container">
    <div class="feature-text">
      <h2 style="text-align: center;" class="heading-2-0">
        <strong>Share your card with anyone.<br /></strong>
      </h2>
      <p class="heading-5-0">
        You can share your digital business card with anyone. We’ll even send you a reminder for you to
        follow up, so you’ll never let a new connection slip away.<br /><br />There
        are several ways to share your Digibiz card, including a QR code,
        email, text, WhatsApp, social media, copy link.
        <a href="/features/digital-business-cards">Learn how
          to make your digital business card
          → </a>
        <br />
      </p>
    </div>
    <div class="feature-image-mask">
      <img src="/images/image2.png" alt="Examples of a Digibiz digital business card, a QR code, and a follow-up email, all part of the card sharing experience." sizes="(max-width: 479px) 86vw, (max-width: 767px) 92vw, (max-width: 991px) 400px, 450px" class="feature-image" />
    </div>
  </div>
</section>
<section id="feature-section" class="feature-section wf-section">
  <div class="flex-container w-container">
    <div class="feature-image-mask">
      <img src="/images/image9.png" sizes="(max-width: 479px) 86vw, (max-width: 767px) 92vw, (max-width: 991px) 400px, 450px" alt="A Digibiz QR code for sharing your virtual business card." class="feature-image" />
    </div>
    <div class="feature-text">
      <h2 style="text-align: center;" class="heading-2-0">
        <strong>Share using your QR code.<br /></strong>
      </h2>
      <p class="heading-5-0">
        Easily share your digital business card with anyone with your
        unique Digibiz QR code. You can even print your code on flyers,
        newsletters, or a billboard; when scanned, it will always link to
        your digital business card.<br />
      </p>
    </div>
  </div>
</section>
<section id="feature-section" class="feature-section-color wf-section">
  <div class="flex-container w-container">
    <div class="feature-text">
      <h2 style="text-align: center;" class="heading-2-0">
        <strong>Text or email your digital business card.<br /></strong>
      </h2>
      <p class="heading-5-0">
        You can text or email your digital business card from within the
        Digibiz app. Enter in an email or phone number—and send your digital
        business card with a tap!<br />
      </p>
    </div>
    <div class="feature-image-mask">
      <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/60a6e43287aa80c44e5f0d65_Text_Email_Digital_Business_Card.webp" alt="Text or email your Digibiz digital business card." class="feature-image" />
    </div>
  </div>
</section>
<section id="feature-section" class="feature-section wf-section">
  <div class="flex-container w-container">
    <div class="feature-image-mask">
      <img src="/images/image8.png" alt="Different ways to share your Digibiz digital business cards, including Airdrop, SMS, email, and more." sizes="(max-width: 479px) 86vw, (max-width: 767px) 92vw, (max-width: 991px) 400px, 450px" class="feature-image" />
    </div>
    <div class="feature-text">
      <h2 style="text-align: center;" class="heading-2-0">
        <strong>Send your card&#x27;s link.<br /></strong>
      </h2>
      <p class="heading-5-0">
        Want to share your card with someone, but they’re not around to
        scan your Digibiz code? Easily send the link to your card via
        email, SMS, Slack, and more.<br />
      </p>
    </div>
  </div>
</section>
<div style="padding-bottom: 0; margin-bottom: 0;" class="purple-3-features_alt">
  <div class="div-block-22">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e6007543f08a4fe0de2de53_Share.svg" alt="" />
    <h2 class="heading-9">
      <strong class="heading-3-0-centered">How to share your digital business
        card<br /></strong>
    </h2>
  </div>
  <div id="w-node-_29d98f9d-35f0-63bb-c319-a2b7d376427f-207e51ae" class="feature-block">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e7ad5d9c214566b5e911a77_number%20one.svg" alt="" class="image-medium-icons" />
    <h1 class="heading-4-0">
      Tap the card you want to share<br />
    </h1>
  </div>
  <div id="w-node-_29d98f9d-35f0-63bb-c319-a2b7d3764285-207e51ae" class="feature-block">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e7ad63bc2dd157b2bb02ecc_number%20two.svg" alt="" class="image-medium-icons" />
    <h1 class="heading-4-0">
      Ask your new contact to aim their camera at your Digibiz code<br />
    </h1>
  </div>
  <div id="w-node-_29d98f9d-35f0-63bb-c319-a2b7d376428c-207e51ae" class="feature-block">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e7ad74dc2dd1534a1b0315d_number%20three.svg" alt="" class="image-medium-icons" />
    <h1 class="heading-4-0">OR send them the link to your card<br /></h1>
  </div>
  <div id="w-node-_29d98f9d-35f0-63bb-c319-a2b7d3764293-207e51ae" class="feature-block">
    <img src="https://uploads-ssl.webflow.com/5e26302469ca1d0fbae4a601/5e7ad76cc21456c7e5911d9c_number%20three-1.svg" alt="" class="image-medium-icons" />
    <h1 class="heading-4-0">
      It’s as easy as that—your card has been shared! <br />
    </h1>
  </div>
</div>
<%- include('partials/footer') %>
<%- include('partials/bodyclose') %>
