<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/loginStyles.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Sign up</title>
</head>

<body>
  <div class='loginScreen'>
    <div class='boxContainer'>
      <image class='loginLogo' src="/images/logo.png" />
      <h2 class='loginHeading'>Sign up into your account</h2>
      <form action="/signup?package=<%= package %>" method='POST' class='inputContainer' novalidate>
        <%- include('partials/flash') %>
        <label class='labelStyle form-label' for='username'>Enter your Email</label>
        <input id="username" name='username' class='inputStyle form-control mb-2' type='email' id='username' required />
        <div class="invalid-feedback mt-0 mb-3">
          Email is required
        </div>
        <label class='labelStyle form-label' for='password'>Enter your Password</label>
        <input minlength="8" value="" id="password" name='password' class='inputStyle form-control mb-2' type='password' id='password' required />
        <div class="invalid-feedback mt-0 mb-3">
          Password is required minimum 8 characters.
        </div>
        <label class='labelStyle form-label' for='passwordConfrim'>Verify your Password</label>
        <input onchange="setInterval(checkVerify(event),1000)" id="passwordConfirm" name='passwordConfrim' class='inputStyle form-control mb-2' type='password' id='passwordConfirm' required />
        <div id="passwordVerifyError" style="color: brown;" class="d-none mt-0 mb-3"></div>
        <div class='showPasscontainer'>
          <input id="showPassBtn" class='showpassword form-check-input' type='checkbox' />
          <label class='showpassText form-check-label'>show password</label>
        </div>
        <div class='termsnconditionContainer'>
          <input id="agreedTerms" class='checkboxIcon form-check-input' type='checkbox' />
          <label for="agreedTerms" class='termsCheckboxPara form-check-label'>I agree to the Terms of
            Service and Acceptable
            Use
            Policy.</label>
        </div>
        <button disabled="true" id="submitButton" class="disabledbtn" type='submit'>Create account</button>
      </form>
      <p class='signupPara'>Already have an account?<a href='/login'>Login</a></p>
    </div>
  </div>
</body>
<script>
  (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.inputContainer')

    // Loop over them and prevent submission
    Array.from(forms)
      .forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()

</script>
<script src="/javascripts/signup.js"></script>

</html>
